@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../../public/assets/nebula.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@layer utilities {
    .navlink-gradient {
      background: linear-gradient(to right, white 33%, rgb(244, 0, 0) 66%, rgb(72, 0, 255) 100%);
      background-size: 300% 100%;
      background-position: 0 0;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: background-position 0.4s ease;
    }
  
    .navlink-gradient-hover {
      background-position: -200% 0;
    }

    .rotate {
      animation: spin 0.5s ease-in-out;
    }
    
    @keyframes spin{
      from{
       transform: rotate(0deg);
      }
      to{
        transform: rotate(360deg);
      }
    }
    .repolink {
      background: linear-gradient(to right, white 50%, blue 50%);
      background-size: 200% 100%;
      background-position: left;
      transition: background-position 0.2s ease;
      color: black; /* Color del texto inicial */
      display: inline-block; /* Para que el enlace ocupe el espacio del padding */
      text-align: center; /* Centrar el texto */
    }
    
    .repolink:hover {
      background-position: right;
      color: white; /* Color del texto al hacer hover */
    }
    
  }
  